* {
  margin: 0;
  padding: 0;
  box-sizing: 0;
}
.cards {
  display: grid;
  grid-template-columns: repeat(5, auto);
  place-items: center;
  padding: 2%;
}

.link {
  cursor: pointer;
  width: fit-content;
  text-decoration: none;
}

.card {
  padding: 2%;
}
